# Ignore node_modules
node_modules

# Ignore environment files
# .env
# .env.local
# .env.*.local

# Ignore build output
build
dist

# Ignore log files
logs

# Ignore editor files
.vscode
.idea

# Ignore OS-specific files
.DS_Store
Thumbs.db
